# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../:\books and documents\beReading\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
